<el-row class="menu">
  <el-menu router>
    <template v-for="(menu, index) in menus">
      <template v-if="menu.subMenu">
        <el-submenu :index="menu.path">
          <template slot="title"><i :class="menu.icon"></i>{{menu.title}}</template>
          <template v-if="menu.subMenu">
            <el-menu-item v-for="(subMenu, subIndex) in menu.subMenu" :index="subMenu.path">
              <template slot="title">
                <i :class="subMenu.icon"></i>
                {{subMenu.title}}
              </template>
            </el-menu-item>
          </template>
        </el-submenu>
      </template>
      <template v-else>
        <el-menu-item :index="menu.path">
          <template slot="title">
            <i :class="menu.icon"></i>
            {{menu.title}}
          </template>
        </el-menu-item>
      </template>
    </template>

  </el-menu>
</el-row>